<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>View Codes</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-light margin-auto">
        <a class="navbar-brand active" href="/views/index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/views/view-messages.html">Messages <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/view-codes.html">Codes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/assign-codes.html">Assign</a>
            </li>
          </ul>
        </div>
    </nav>


    <div class="container bg-white vh-100 pt-5 pb-5 ml-5" id="app">
        <h1 class="text-primary mb-3">How to Use This Application</h1>
    
        <h3>Messages</h3>
        <p> Click on the 'Messages' page to view a list of every message with a summary of its data.
        Through this page, you can also click on a message ID to view more information
        about that message.
        </p>

        <h3>Codes</h3>
        <p>Click on the 'Codes' page to view a list of
            every code.
        </p>

        <h3>Assign</h3>
        <p>Click on the 'Assign' page to be able to assign
            codes to parts of a specific message. To 
            do this, you will need to enter the message's ID which
            can be found using the 'Messages' page.
        </p>
    </div>
  </body>
</html>